In [21]:
import pandas as pd
import numpy as np
import os

In [22]:
df = pd.read_csv(os.path.join('data', 'train_set.csv'))
df

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,1,43,management,married,tertiary,no,291,yes,no,unknown,9,may,150,2,-1,0,unknown,0
1,2,42,technician,divorced,primary,no,5076,yes,no,cellular,7,apr,99,1,251,2,other,0
2,3,47,admin.,married,secondary,no,104,yes,yes,cellular,14,jul,77,2,-1,0,unknown,0
3,4,28,management,single,secondary,no,-994,yes,yes,cellular,18,jul,174,2,-1,0,unknown,0
4,5,42,technician,divorced,secondary,no,2974,yes,no,unknown,21,may,187,5,-1,0,unknown,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25312,25313,55,blue-collar,divorced,primary,no,8180,no,no,cellular,14,may,854,2,360,1,failure,1
25313,25314,52,services,married,secondary,no,961,no,yes,cellular,18,feb,222,1,553,4,failure,1
25314,25315,35,blue-collar,divorced,primary,no,300,yes,no,unknown,13,may,945,2,-1,0,unknown,1
25315,25316,37,entrepreneur,divorced,tertiary,no,66,no,no,cellular,18,nov,1164,2,-1,0,unknown,1
25316,25317,52,management,married,tertiary,no,40,no,no,cellular,19,nov,1265,3,-1,0,unknown,1

In [23]:
def count(c):
    print(df[c].value_counts())

In [24]:
df['age'].describe()

count    25317.000000
mean        40.935379
std         10.634289
min         18.000000
25%         33.000000
50%         39.000000
75%         48.000000
max         95.000000
Name: age, dtype: float64

In [25]:
count('job')

blue-collar      5456
management       5296
technician       4241
admin.           2909
services         2342
retired          1273
self-employed     884
entrepreneur      856
unemployed        701
housemaid         663
student           533
unknown           163
Name: job, dtype: int64

In [11]:
count('marital')

married     15245
single       7157
divorced     2915
Name: marital, dtype: int64

In [12]:
count('education')

secondary    12957
tertiary      7447
primary       3848
unknown       1065
Name: education, dtype: int64

In [13]:
count('default')

no     24869
yes      448
Name: default, dtype: int64

In [14]:
df['balance'].describe()

count     25317.000000
mean       1357.555082
std        2999.822811
min       -8019.000000
25%          73.000000
50%         448.000000
75%        1435.000000
max      102127.000000
Name: balance, dtype: float64

In [15]:
count('housing')

yes    14020
no     11297
Name: housing, dtype: int64

In [16]:
count('loan')

no     21258
yes     4059
Name: loan, dtype: int64

In [18]:
count('contact')

cellular     16391
unknown       7281
telephone     1645
Name: contact, dtype: int64

In [19]:
count('day')

20    1552
18    1331
21    1121
17    1086
5     1081
6     1056
28    1037
7     1034
8     1031
14    1023
19    1001
15     952
29     945
12     888
9      880
30     874
13     856
16     816
11     815
4      792
2      717
27     658
3      605
26     576
23     541
22     484
25     466
31     374
10     287
24     255
1      183
Name: day, dtype: int64

In [20]:
count('month')

may    7655
jul    3937
aug    3482
jun    2968
nov    2243
apr    1669
feb    1464
jan     777
oct     411
sep     339
mar     269
dec     103
Name: month, dtype: int64

In [21]:
df['duration'].describe()

count    25317.000000
mean       257.732393
std        256.975151
min          0.000000
25%        103.000000
50%        181.000000
75%        317.000000
max       3881.000000
Name: duration, dtype: float64

In [23]:
df['campaign'].describe()

count    25317.000000
mean         2.772050
std          3.136097
min          1.000000
25%          1.000000
50%          2.000000
75%          3.000000
max         55.000000
Name: campaign, dtype: float64

In [24]:
df['pdays'].describe()

count    25317.000000
mean        40.248766
std        100.213541
min         -1.000000
25%         -1.000000
50%         -1.000000
75%         -1.000000
max        854.000000
Name: pdays, dtype: float64

In [25]:
df['previous'].describe()

count    25317.000000
mean         0.591737
std          2.568313
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        275.000000
Name: previous, dtype: float64

In [26]:
count('poutcome')

unknown    20677
failure     2735
other       1070
success      835
Name: poutcome, dtype: int64

In [27]:
count('y')

0    22356
1     2961
Name: y, dtype: int64